ul {
  list-style: none;
}
#Overview {
  display: flex;
  font-size: 24px;
}
#Overview .content-left {
  border: 1px solid #F2F2F2;
  flex: 2;
  margin: 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#Overview .content-left .ant-card-bordered {
  margin: 10px;
}
#Overview .content-left .ant-card-head-title {
  font-size: 18px;
}
#Overview .content-left ul li {
  cursor: pointer;
}
#Overview .content-right {
  border: 1px solid #F2F2F2;
  flex: 1;
  padding: 20px;
}
#Overview .content-right .ant-timeline {
  margin-top: 10px;
}
#Overview .content-right .timeline .date {
  color: #B6B6B6;
}
#Overview .content-right .timeline .user,
#Overview .content-right .timeline .content {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  padding-right: 15px;
  font-family: cursive;
}
.export ul {
  display: flex;
}
.export ul li {
  flex: 1;
  border: 1px solid #E7E7E7;
  background-color: #F5F5F5;
  width: 200px;
  height: 150px;
  margin: 0 10px;
  cursor: pointer;
}
.export ul li img {
  width: 150px;
  height: 150px;
}
