#root {
  height: 100%;
}
html,
body {
  height: 100%;
}
#DashBoard {
  height: 100%;
}
#DashBoard .ant-layout-header {
  z-index: 1!important;
}
#DashBoard .aside,
#DashBoard .ant-layout {
  height: 100%;
}
#DashBoard .logo {
  text-align: center;
  margin-top: 40px;
  height: 100px;
}
#DashBoard .logo img {
  height: 68%;
}
#DashBoard .trigger {
  padding: 15px;
  font-size: 24px;
}
#DashBoard .trigger:hover {
  cursor: pointer;
}
#DashBoard .ant-layout-content {
  height: 100%;
  min-height: 100%!important;
}
#DashBoard .ant-layout-header {
  background: #fff;
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 47px;
  background-color: #fff;
  z-index: 999;
  border: 1px solid #EEF0F4;
}
#DashBoard .ant-layout-sider {
  background-color: #fff;
}
#DashBoard .ant-layout-footer {
  text-align: center;
}
#DashBoard #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}
#DashBoard #components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}
#DashBoard #components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
